[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-mgp/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-mgp/products-microservice.git
