[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-mgp/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-mgp/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-mgp/orders-microservices.git
[submodule "payments-ms"]
	path = payments-ms
	url = git@github.com:Nest-Microservices-mgp/payments-ms.git
